<!-- This is kinda pointless, as I can't load the JavaFXTextAreaAppender with the XML Configuration file
     as attempting to do so will blow up JavaFX on a 'normal' startup 

     It will work fine in an IDE, but not when run native.

     See com.randywallace.shinywrench.logback.ConfigureLogback -->
<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="JavaFXTextArea" class="com.randywallace.shinywrench.logback.JavaFXTextAreaAppender">
        <!--<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>-->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n%rEx{5}</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="JavaFXTextArea" />
    </root>

</configuration>
